body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjeta {
    background-color: white;
    border: 2px solid #0077cc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 6px 8px rgba(0,0,0,0.1);
}
