body{
    background-color: antiquewhite;
    text-align: center;
}

head{
    background-color: aqua;
    color: red;
}
.return{
    background-color: black;
    color: blue;
    position: fixed;
    left: 20px;
    top: 10px;
    padding: 15px;
}